@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100%;
  padding: 90px 20px;
  font-weight: bold;
  font-family: "Pretendard-Regular", sans-serif;

  .header {
    display: flex;
    align-items: center;
    .nav {
    }
    h1 {
      margin-left: 40px;
      letter-spacing: 0.2rem;
    }
  }

  .mainContainer {
    section {
      .categoryContainer {
        margin-bottom: 35px;
        h3 {
          margin-bottom: 15px;
        }
        .categoryWrap {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .iconBox {
            cursor: pointer;
            background-color: rgba(246, 247, 247, 0.4);
            opacity: 0.7;
            border: 1px solid #dedede;
            display: flex;
            min-width: 70px;
            padding: 7px 10px;
            border-radius: 35px;
            transition: all 0.6s;
            font-weight: 400;
            letter-spacing: 0.05rem;
            &:hover {
              opacity: 1;
            }
            p {
              margin-left: 5px;
            }
          }
        }
      }

      .priceCategoryContainer {
        margin-bottom: 35px;
        h3 {
          margin-bottom: 15px;
        }
        .categoryWrap {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .iconBox {
            cursor: pointer;
            background-color: rgba(246, 247, 247, 0.7);
            opacity: 0.7;
            border: 1px solid #dedede;
            display: flex;
            min-width: 70px;
            padding: 7px 10px;
            border-radius: 35px;
            transition: all 0.6s;
            font-weight: 400;
            letter-spacing: 0.05rem;
            &:hover {
              opacity: 1;
            }
            p {
              margin-left: 5px;
            }
          }
        }
      }

      .distanceCategoryContainer {
        h3 {
          margin-bottom: 15px;
        }
      }
    }
  }

  .button {
    background-color: #ffd5c0;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: white;
    transition: all 0.6s;
    cursor: not-allowed; /* 기본 상태에서 커서를 변경 */
    &.active {
      cursor: pointer;
      background-color: rgb(237, 76, 0);
    }
  }
}
