.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 100px 0;
  .cardWrap {
    margin-bottom: 50px;
  }
  .userLoginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    .noLoginStart {
      color: #a7a1a1;
      text-decoration: underline;
      text-underline-offset: 2px;
      transition: all 0.6s;
      font-size: 14px;
      &:hover {
        color: black;
      }
    }
  }
}
