.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  .imgWrap {
    width: 100%;
    height: 175px;
    border: 1px solid black;
    p {
    }
  }

  .foodDescContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    margin-bottom: 20px;
    h3 {
      margin-bottom: 10px;
    }
    .foodWrap {
      display: flex;
      align-items: center;
      gap: 5px;
      .box {
        font-size: 14px;
        color: #aaaaaa;
      }
      p {
        font-size: 14px;
      }
    }
  }

  .kakaomap {
    width: 314px;
    height: 149px;
    // border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .shopDistance {
    padding: 0 0 25px 25px;
    p {
      border-bottom: 1px solid#CCCCCC;
      padding-bottom: 20px;
      strong {
        color: #eb4726;
        font-weight: 800;
      }
    }
  }

  .shopContainer {
    padding: 30px 20px;
    .shopWrap {
      display: flex;
      flex-direction: column;
      gap: 30px;
      h3 {
        margin-bottom: 10px;
      }
      .shopDesc {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        .text {
          display: flex;
        }
        p {
          &:nth-child(1) {
            margin-right: 185px;
          }
        }
        .link {
          color: #eb4726;
        }
      }
    }
  }

  .moreBtn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    background-color: inherit;
  }

  .footerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    border-top: 1px solid #dedede;
    height: 36px;
    gap: 150px;
    button {
      background-color: inherit;
    }
    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
