.swiper-container {
  width: 304px;
  height: 446px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  .slide-1 {
    background-color: aqua;
  }

  .slide-2 {
    background-color: tomato;
  }

  .slide-3 {
    background-color: pink;
  }

  .slide-4 {
    background-color: yellow;
  }

  .slide-5 {
    background-color: blueviolet;
  }
  .swiper-slide {
    cursor: grab;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%; /* 부모 컨테이너에 맞추기 위해 100%로 설정 */
    h3 {
      position: absolute;
      top: 350px;
      left: 15px;
      font-size: 1.4rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    }
    .imageDesc {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 385px;
      left: 15px;
      .box1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3px;
        color: #aaaaaa;
      }
      .box2 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 30px;
      }
      .box3 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #aaaaaa;
        margin-right: 3px;
      }
      .box4 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
    .img {
      width: 100%; /* 부모 컨테이너에 맞추기 위해 100%로 설정 */
      height: 100%; /* 비율 유지 */
      object-fit: cover; /* 필요에 따라 cover 또는 contain */
    }
  }
}
