/* Card.module.scss */

.swiper-container {
  width: 320px;
  height: 400px;
  border-radius: 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; /* 부모 컨테이너에 맞추기 위해 100%로 설정 */
}

.swiper-slide img {
  width: 100%; /* 부모 컨테이너에 맞추기 위해 100%로 설정 */
  height: 100%; /* 비율 유지 */
  object-fit: cover; /* 필요에 따라 cover 또는 contain */
}
