.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border-top: 1px solid #dedede;
  height: 36px;
  gap: 150px;
  button {
    background-color: inherit;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
}
